* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	color: #000;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
	font-size: 18px;
	line-height: 160%;
	background: #ccc;
}

/* BASICS */

a {
	color: rgb(176, 209, 0);
	text-decoration: underline;
}

.gray {
	font-style: normal;
    color: #aaa;
}

.red {
	color: #c00;
}

p {
	margin: 1em 0;
}

h2 {
	font-size: 120%;
	color: #2C3E50;
	margin-bottom: 3em;
}

h3 {
	font-size: 110%;
	font-weight: bold;
	color: #2C3E50;
	margin: 1em 0;
}


ol, ul {
	margin-left: 1.2em;
	margin-bottom: 1em;
}

li {
	margin: 0.5em 0;
}

ol.tight li {
	margin: 0;
}

/* FORMS */

#msform {
	min-width: 600px;
	max-width: 1200px;
	margin: 100px auto;
	text-align: left;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 30px 40px;
	box-sizing: border-box;
	width: 90%;
	margin: 0 8%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

#msform fieldset.text,
#msform fieldset.validate {
	padding-right: 20%;
}

/* Responsive */

@media (max-width: 900px) {
	#msform {
		margin: 50px auto;
	}
	#msform fieldset {
		width: 100%;
		padding: 20px;
		margin: 0;
	}
	#msform fieldset.text,
	#msform fieldset.validate {
		padding-right: 40px;
	}
}

label.error {
	display: block;
	font-weight: bold;
	color: #fff;
	background-color: #c00;
	padding: .5em;
}

/* hide all fieldsets except the first */

#msform fieldset:not(:first-of-type) {
	display: none;
}

/* inputs */

#msform input, #msform textarea, #msform select {
	display: block;
	float: none;
	padding: 10px 2px;
	margin: .5em 0 1.5em;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
	color: #2C3E50;
	font-size: 100%;
}

/* buttons */

#msform input.button {
	display: block;
	float: left;
	width: 200px;
	height: 50px;
	background: rgb(176, 209, 0);
	text-align: center;
	font-weight: bold;
	color: white;
	border: 0 none;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 20px 10px 0;
	border-radius: 5px;
	-webkit-appearance: none;
}

#msform .button:hover, #msform .button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #000;
}

#msform .button.single {
	float: none;
}

#msform .button.right {
	margin: 10px 0;
}

#msform .button.blue {
	background: rgb(0, 100, 210);
}

#msform .button.tint {
	background: rgba(176, 209, 0, 0.65);
}

#msform .button.blue.tint {
	background: rgba(0, 100, 210, 0.65);
}

/* trial area and buttons */

#msform div.trialarea {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#msform div.trialarea .sample {
	width: 800px;
	height: 200px;
    border: 0;
	margin: 0 auto;
}

#msform div.trialarea input.button {
	width: 23.5%;
	margin: 10px 2% 10px 0;
}
#msform div.trialarea input.button.right {
	margin: 10px 0;
}

/* slider */

.slider {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 0;
  margin: 1em 0 2em 0;
}

.slider span {
	display: block;
	width: 33%;
	text-align: left;
	float: left;
	font-style: italic;
	margin-bottom: 1em;
}

.slider span.slider_value {
	text-align: center;
	font-size: 130%;
	font-style: normal;
	font-weight: bold;
	float: left;
}

.slider span.right {
	text-align: right;
	float: right;
}


#msform input.rangeslider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #ccc;
  outline: none;
  padding: 0;
  margin: 0;
}

#msform input.rangeslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(176, 209, 0);
  cursor: pointer;
}

#msform input.rangeslider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: rgb(176, 209, 0);
  cursor: pointer;
}

::-moz-range-track {
  background: #000;
  border: 0;
}


/* progress bar */

h4 {
	display: block;
	width: 100%;
	float: none;
	color: #ccc;
	font-weight: normal;
	font-size: 80%;
	margin: 6em 0 0.5em;
}

.bar {
	display: block;
	overflow: hidden;
	background-color: #eee;
	width: 100%;
	height: 10px;
}

.progressbar {
	display: block;
	background-color: #ddd;
	width: 0;
	height: 10px;
}

